.header {
  height: 60px !important;
  padding: 0 20px !important;
  border-bottom: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4)) !important;

  @media (min-width: 1200px) {
    padding: 0 100px !important;
  }
}

.link {
  display: flex !important;
  align-items: center !important;
  height: 100% !important;
  padding-left: var(--mantine-spacing-md) !important;
  padding-right: var(--mantine-spacing-md) !important;
  text-decoration: none !important;
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white)) !important;
  font-weight: 500 !important;
  font-size: var(--mantine-font-size-sm) !important;

  @media (max-width: 600px) {
    height: 42px !important;
    width: 100% !important;
  }

  @mixin hover {
    background-color: light-dark(
      var(--mantine-color-gray-0),
      var(--mantine-color-dark-6)
    ) !important;
  }
}

.subLink {
  width: 100% !important;
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-md) !important;
  border-radius: var(--mantine-radius-md) !important;

  @mixin hover {
    background-color: light-dark(
      var(--mantine-color-gray-0),
      var(--mantine-color-dark-7)
    ) !important;
  }
}

.dropdownFooter {
  background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-7)) !important;
  margin: calc(var(--mantine-spacing-md) * -1) !important;
  margin-top: var(--mantine-spacing-sm) !important;
  padding: var(--mantine-spacing-md) calc(var(--mantine-spacing-md) * 2) !important;
  padding-bottom: var(--mantine-spacing-xl) !important;
  border-top: 1px solid light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-5)) !important;
}

.menu__group {
  cursor: pointer !important;
}

.icon__search {
  background-color: #f2f2f2 !important;
  border: none !important;
  border-radius: 50% !important;
  width: 38px !important;
  height: 38px !important;
  padding: 0 !important;
  color: #1f1f1fe5 !important;
}

.modal__header {
  position: absolute !important;
  padding: 0 !important;
  background-color: transparent !important;
  color: #000 !important;
  right: 10px;
  top: 10px;
}

.modal__body {
  padding: 0 !important;
}

.coursebtn {
  border-left: 4px solid transparent;
}

.coursebtn__active {
  border-left: 4px solid #6e53e1;
}

.dropdown {
  left: 50% !important;
  transform: translateX(-50%) !important;
  padding: 0 !important;
}
