.main__box {
  max-width: 364px !important;
  margin: 30px auto !important;
  border-radius: 16px !important;
  background-color: #0a9396 !important;
  display: flex !important;
  flex-wrap: wrap !important;
  flex-direction: column !important;
  justify-content: space-around !important;
  align-items: center !important;
  padding: 60px 10px 0 !important;

  @media (min-width: 1100px) {
    flex-direction: row !important;
    max-width: fit-content !important;
    padding: 0 20px !important;
  }
}

.box__image {
  order: 3 !important;

  @media (min-width: 1100px) {
    order: 0 !important;
  }
}

.box__text {
  max-width: 423px !important;
  text-align: center !important;
  margin: 0 30px !important;
}

.button__group {
  display: flex !important;
  flex-direction: column !important;
}

.button {
  background-color: #fff !important ;
  color: #1d3557 !important ;
  margin-bottom: 20px;
}

.info {
  margin: 20px 0 !important ;

  @media (min-width: 1100px) {
    margin-top: 20px !important;
  }
}
