.main {
  background-image: url('/assets/herobox/herobox__search.png') !important;
  background-repeat: no-repeat !important;
  background-position: bottom !important;
  background-size: cover !important;
}
