.main {
  background-image: url('/assets/placement__bg.png') !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: cover !important;
}

.control {
  color: #f24b04 !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
}

.input {
  background-color: #2b2b2b !important;
  font-size: 14px !important;
  color: #fff !important;
  border-color: #2b2b2b !important;
}

.option {
  font-size: 14px !important;
}

.root {
  border-radius: 10px !important;
  overflow: hidden !important;
}
