.box__data {
  max-width: 640px !important;
  margin: 30px auto 0 !important;
}

.box__cards_main {
  background-image: url('/assets/circle_bg.png') !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: cover !important;
  display: flex !important;
  /* flex-wrap: wrap !important; */
  justify-content: center !important;
  /* max-width: 90%; */
  margin: 0 auto !important;
  /* overflow-x: scroll; */
}

.card {
  height: 321px !important;
  width: 200px !important;
  flex: 1;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: cover !important;

  margin: 10px 10px 0 !important;
  border-radius: 10px !important;
  padding: 15px !important;
}

.card__title {
  font-size: 28px !important;
  font-weight: 600 !important;
}
