.base {
  background-image: url('/assets/circle_bg.png') !important;
  background-repeat: no-repeat !important;
  background-position: bottom !important;
  background-size: contain !important;
  padding-bottom: 30px !important;
  margin: 60px 0 !important;
}

.content__main {
  max-width: 1300px !important;
  margin: 0 auto !important;
}

.grid__box {
  border: 1px solid #a6a6a6 !important;
  border-radius: 8px !important;
  padding: 20px !important;
  background-color: #fff !important;
  /* margin: 50px 0; */
}

.college {
  background-color: #eaeaea !important;
  color: #585858 !important;
  border-radius: 16px !important;
  padding: 5px 10px !important;
  text-align: center !important;
}
