.main {
  height: 344px !important;
  background-image: url('/assets/herobox/herobox__search.png') !important;
  background-repeat: no-repeat !important;
  background-position: bottom !important;
  background-size: cover !important;
}

.section[data-position='right'] {
  width: 100px !important;
  /* z-index: 1000; */
  /* cursor: pointer; */
}
