.label {
  color: #f2f2f2 !important;
}

.input {
  background-color: #1a191a !important;
  border: none !important;
  border-bottom: 1px solid #f2f2f2 !important;
  border-radius: 0 !important;
  color: #f2f2f2 !important;
}

.social {
  width: 45px !important;
  height: 45px !important;
  background-color: transparent !important;
  border-radius: 50% !important;
  padding: 0 !important;
  border: 0 !important;
}
