.main {
  background-image: url('/assets/full_circle_bg.png') !important;
  background-repeat: no-repeat !important;
  background-position: bottom !important;
  background-size: cover !important;
}

.value__box {
  background: url('/assets/leaders/founder.png'), #191919 !important;
  background-repeat: no-repeat !important;
  background-position: left !important;
  background-size: contain !important;

  display: flex !important;
  justify-content: space-between !important;
  align-items: end !important;
}
